@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&family=Roboto+Mono:wght@300&display=swap");

/* == GENERAL PAGE STYLES == */
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.02rem;
  color: #36363c;
}
*::selection {
  background-color: #ffc401;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
/* == GENERAL PAGE STYLES == */

/* == GENERAL TEXT STYLES == */
.title {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;
}
.content {
  font-weight: 300;
}
.name {
  font-weight: 600;
}
.more {
  text-align: right;
  font-weight: 300;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}
ul {
  list-style: none;
  padding: 0.4rem 0;
  margin: 0;
}
/* == GENERAL TEXT STYLES == */

/* == SCROLL == */
.scroll {
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  max-height: 100vh;
}
.stack {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10%;
  box-shadow: 0 0px 50px -12px rgba(0, 0, 0, 0.25);
}
.stack:nth-last-child(1) {
  height: 100vh;
}
.stack:nth-child(0) {
  background-color: #ffffff;
}
.stack:nth-child(1) {
  background-color: #fefcff;
}
.stack:nth-child(2) {
  background-color: #fff5ee;
}
.stack:nth-child(3) {
  background-color: #fdeef4;
}
.stack:nth-child(4) {
  background-color: #ebdde2;
}
.stack:nth-child(5) {
  background-color: #f6e8f7;
}
.stack:nth-child(6) {
  background-color: #cab9ca;
}
.stack:nth-child(7) {
  background-color: #c8afc9;
}
.stack:nth-child(8) {
  background-color: #bea5bf;
}
.stack:nth-child(9) {
  background-color: #b49bb5;
}
.stack:nth-child(10) {
  background-color: #aa91ab;
}
/* == SCROLL == */

/* == ANIMATION == */
.animation {
  animation-name: wave-animation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.down {
  animation-name: down-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  display: inline-block;
}
@keyframes down-animation {
  0% {
    transform: translate(0px, 0px);
  }
  30% {
    transform: translate(0px, 10px);
  }
  60% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/* == ANIMATION == */

/* == HELLO == */
a {
  text-decoration: none;
  color: #36363c;
  padding: 0.3rem;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  box-shadow: inset 0 -5px 0 #007bff;
}

a:hover {
  color: white;
  box-shadow: inset 0 -120px 0 0 #007bff;
}
/* == HELLO == */

/* == BACKGROUND == */
/* == BACKGROUND == */

/* == SKILLS == */
.skill_content {
  display: flex;
  justify-content: space-between;
}
/* == SKILLS == */

/* == PROJECTS == */
.project_name {
  margin: 1.5rem 0 0 0;
  font-weight: 600;
}
.project_name a {
  font-size: 1rem;
}
.project_description{
  margin-bottom: 0;
  margin-top: 0.4rem;
}
.techs {
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.code {
  font-size: 0.6rem;
  font-family: "Roboto Mono", monospace;
  color: #007bff;
  font-weight: bold;
  padding: 1px 2px 2px 2px;
  border-radius: 3px;
  border: 1px solid #007bff;
  margin-right: 0.2rem;
}
/* == PROJECTS == */

/* == CONTACT == */
.social {
  font-size: 3rem;
}
/* == CONTACT == */

/* == status == */
.status {
  margin: 5rem 0 0 0;
  font-weight: 600;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
}
/* == status == */

@media (max-width: 600px) {
  .stack {
    padding: 5%;
  }
  .skill_content {
    flex-direction: column;
  }
  .category_label {
    margin-top: 1rem;
  }
  body {
    letter-spacing: 0;
    font-size: 0.75rem;
  }
}
@media (max-height: 700px) {
  .stack {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .project_name {
    margin: 0.9rem 0 0 0;
  }
}
